body{
    background-color:rgb(238, 244, 251);
    margin:0;
}

main{
    padding:15px;
}

p{
    font-size:20px;
    color:rgb(31, 58, 90);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

header{
    padding:20px;
    align-self: left;
    margin:auto;
    background:linear-gradient(120deg, rgb(207, 227, 248) 0%, rgb(159, 196, 234) 100%);
    color:rgb(23, 49, 77);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size:30px;
}